.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.history/**
**/*.vsix
**/*.vsix.backup
**/*.zip
nul
**/nul
.git/**
.github/**
CHANGELOG.md
